body {
  padding: 42px 30px 30px 42px;
  font-size: 0;
  background: #62306d;
}
.container {
  width: 100px;
  height: 150px;
  display: inline-block;
  background: #f7ec7d;
  border-radius: 50px 50px 0 0;
}
.container:nth-child(2) {
  height: 250px;
}
.circle {
  width: 60px;
  height: 60px;
  border: 20px solid #aa445f;
  background: #e38f66;
  border-radius: 50%;
}
.container:nth-child(2) .circle {
  background: #aa445f;
  border-color: #e38f66;
}

.left-moon {
  width: 70px;
  height: 32px;
  border-radius: 0 0 80px 80px;
  border: 17px solid #eca03d;
  border-top: 0;
  margin-top: 150px;
  margin-left: 40px;
}

.right-moon {
  width: 70px;
  height: 32px;
  border-radius: 0 0 80px 80px;
  border: 17px solid #eca03d;
  border-top: 0;
  position: absolute;
  top: 33.4%;
  right: 10%;
  transform: rotate(180deg);
}
