body {
  background: #6592cf;
}
.fork {
  width: 150px;
  height: 200px;
  background: #060f55;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 100px 100px;
}

.handle {
  width: 20px;
  height: 100px;
  background: #060f55;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
